# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# FastAPI
*.log

# React
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# FAISS indexes (optional if too large)
vector_store/*.index

# Model files
*.pth
*.pt
node_modules/
venv/
data/fashion/
data/enhanced_images/
__pycache__/
*.pyc