# Python
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

# Environment Variables
.env
.env.local
.env.production

# FastAPI / Logs
*.log

# React / Vite
node_modules/
dist/
.vite/

# VS Code / IDE
.vscode/
.idea/


# OS Files

.DS_Store
Thumbs.db

# FAISS

vector_store/*.index
*.faiss

# Model Files

*.pth
*.pt
*.ckpt
*.bin


# Dataset

data/fashion/
data/enhanced_images/
DeepFashion/
datasets/


# Uploads / Temp

uploads/
temp/
tmp/


# Testing

.pytest_cache/
.coverage